<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <style>
      .section {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('../layouts/header') %>
    <section class="section">
      <div class="container">
        <h1 class="title">Change Password</h1>
        <% if (error) { %>
        <p class="has-text-danger"><%= error %></p>
        <% } %>
        <form action="/members/<%= member._id %>/change-password" method="POST">
          <div class="field">
            <label for="currentPassword" class="label">Current Password:</label>
            <div class="control">
              <input
                type="password"
                id="currentPassword"
                name="currentPassword"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label for="newPassword" class="label">New Password:</label>
            <div class="control">
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <%- include('../layouts/footer') %>
  </body>
</html>
