<!-- members/login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <style>
      /* Custom CSS if needed */
      .container {
        max-width: 400px; /* Limit width of content */
        margin-top: 50px; /* Adjust margin top */
      }
      .form-container {
        margin-top: 20px; /* Adjust margin top of the form */
      }
      .section {
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('../layouts/header') %>

    <section class="section">
      <div class="container">
        <h1 class="title">Login</h1>
        <% if (message) { %>
        <div class="notification is-danger"><%= message %></div>
        <% } %>
        <div class="form-container">
          <form action="/members/login" method="POST">
            <div class="field">
              <label for="memberName" class="label">Username:</label>
              <div class="control">
                <input
                  type="text"
                  id="memberName"
                  name="memberName"
                  class="input"
                  required
                />
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password:</label>
              <div class="control">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="input"
                  required
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary">Login</button>
              </div>
            </div>
          </form>
          <p>Don't have an account? <a href="/members/register">Register</a></p>
        </div>
      </div>
    </section>
    <%- include('../layouts/footer') %>
  </body>
</html>
