<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Brand</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <style>
      .section {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <%- include('../layouts/header') %>
    <section class="section">
      <div class="container">
        <h1 class="title">Add New Brand</h1>
        <form action="/brands" method="POST">
          <div class="field">
            <label for="brandName" class="label">Brand Name:</label>
            <div class="control">
              <input
                type="text"
                name="brandName"
                id="brandName"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">Add Brand</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <%- include('../layouts/footer') %>
  </body>
</html>
